<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1 class="login-title">Sign in</h1>
    <p class="login-description">Enter your credentials to sign in.</p>

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <div class="ion-margin-top ion-margin-bottom">
        <ion-item class="ion-margin-bottom" color="light">
          <ion-label>Email</ion-label>
          <ion-input [autofocus]="true" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <div class="ion-text-right ion-margin-top ion-margin-bottom">
          <a href="" class="forgot-link">Forgot your password?</a>
        </div>
        <ion-button type="submit" mode="ios" expand="block" color="dark" [disabled]="!loginForm.valid">Login</ion-button>
      </div>
    </form>
    <div class="ion-padding-top ion-text-center">
      <a routerLink="/register" class="register-link">Don't have an account? <span class="sign-up">Sign up!</span></a>
    </div>
  </div>
</ion-content>
