.login-title {
    font-weight: bold;
    font-size: 200%;
  }
  
  .login-description {
    font-size: 110%;
    color: gray;
  }
  
  ion-item {
    --background: #f1f4f9;
    border-radius: 5px;
  }
  
  ion-button {
    font-size: 20px;
  }
  
  .forgot-link {
    color: initial;
    text-decoration: none;
    font-size: 14px;
  }
  
  .register-link {
    color: initial;
    text-decoration: none;
    font-size: 17px;
  }
  
  .sign-up {
    font-weight: bold;
    text-decoration: underline;
  }
  