<ion-content class="intro-page">
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text style="height: 100%; width: 100%;">
        <div class="top-div">
          <img src="assets/images/welcome.svg" class="slide-img">
        </div>
        <div style="height: 40%;" class="ion-padding">
          <h1 class="slide-title">Hey there!</h1>
          <p class="slide-description">You are welcome to the long awaited ionic seed by Devnest Systems</p>
          <ion-button mode="md" class="ion-margin-top" (click)="next()" fill="outline" color="dark">Next</ion-button>
        </div>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text style="height: 100%; width: 100%;">
        <div class="top-div">
          <img src="assets/images/start.svg" class="slide-img">
        </div>
        <div style="height: 40%;" class="ion-padding">
          <h1 class="slide-title">All about Ionic!</h1>
          <p class="slide-description">You have got all that you need.</p>
          <ion-button mode="md" class="ion-margin-top" (click)="start()" fill="outline" color="dark">Start</ion-button>
        </div>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>